{{#each userArray}}
<div class="card-player">
  <img src="{{this.pictureUrl}}" alt="" />

  <div class="player-content-left">
    <h3>{{this.userName}}</h3>
    <h4>{{this.sports}}</h4>
    <p>{{this.description}}</p>
  </div>
  <div class="player-content-right">

    <form action="/add-guest" method="POST">
      <button>GO</button>
    </form>
  </div>
</div>
{{/each}}