<section class="heading-list gym-bg">
  <img class="logo-main" src="./images/logos/logo-main-blanc.png" alt="">

  <h2>Your Friends</h2>
  {{!-- <a class="go-back" href="/"> -- Homepage</a> --}}
</section>

<section>

  <div>

    {{> friends_card}}

  </div>

</section>