<h2>Gym List</h2>

<ul>
  {{#each gymArray}}
  <li>
    <h3>{{this.name}}</h3>
    <p>Address: {{this.address}}, {{this.arrondissement}}</p>
    <a href="/gym-list/{{this._id}}">See More</a>
    {{/each}}
  </li>
</ul>