<section id="section-header">
  <div>
    <img class="logo-main" src="./images/logos/logo-main-blanc.png" alt="">
    <h2>Choose your <span>SPØRTS</span><br />Choose your <span>BUDDIES</span></h2>
    <a class="btn-header" href="/create-rdv">+</a>
  </div>
</section>
<section>

  <h2>Next sessions:</h2>
  <p>See your next sessions here</p>

  <div class="cards-container">
    <div class="card-session">
      <div class="session-content-left">
        <h3>HARD CODED</h3>
        <p>Tennis with @AlexJoly</p>
        <img src="./images/user-icon/alex.png" alt="" />
      </div>
      <div class="session-content-right">
        <h4>Tues. 12</h4>
        <p class="month"><b>January</b></p>
        <p>4pm - 6pm</p>
      </div>
    </div>

    {{#if currentUser}}
    {{> rdv_card}}
    {{else}}
    {{> home_logout_session}}
    {{/if}}
  </div>
  <small>see more</small>
</section>

<section id="section-player">
  <h2>Find a player</h2>
  <p>Looking for someone to play with you? Here are some players that also look for partners.</p>

  <div class="cards-container">

    <div class="card-player">
      <img src="./images/user-icon/alex.png" alt="" />

      <div class="player-content-left">
        <h3>Alex Joly</h3>
        <p>co laboris nisi ut aliquip ex ea commodo codcs.</p>
      </div>
      <div class="player-content-right">
        <h4>Tues. 12</h4>
        <p class="month"><b>January</b></p>
        <p>4pm - 6pm</p>
      </div>
    </div>

    <div class="card-player">
      <img src="./images/user-icon/alex.png" alt="" />

      <div class="player-content-left">
        <h3>Alex Joly</h3>
        <p>co laboris nisi ut aliquip ex ea commodo codcs.</p>
      </div>
      <div class="player-content-right">
        <h4>Tues. 12</h4>
        <p class="month"><b>January</b></p>
        <p>4pm - 6pm</p>
      </div>
    </div>

    <div class="card-player">
      <img src="./images/user-icon/alex.png" alt="" />

      <div class="player-content-left">
        <h3>Alex Joly</h3>
        <p>co laboris nisi ut aliquip ex ea commodo codcs.</p>
      </div>
      <div class="player-content-right">
        <h4>Tues. 12</h4>
        <p class="month"><b>January</b></p>
        <p>4pm - 6pm</p>
      </div>
    </div>


  </div>
  <small>see more</small>
</section>

<section id="section-sport">
  <h2>Discover new sports</h2>
  <p>You got bored by your sport ? Don't worrie, here are some other sports that should make you have fun again.
  </p>

  <div class="badges-container">

    <div class="badge">
      <img src="./images/sports-icons/bicycle.svg" alt="">
    </div>

    <div class="badge">
      <img src="./images/sports-icons/football.svg" alt="">
    </div>

    <div class="badge">
      <img src="./images/sports-icons/basketball.svg" alt="">
    </div>

    <div class="badge">
      <img src="./images/sports-icons/objective.svg" alt="">
    </div>

    <div class="badge">
      <img src="./images/sports-icons/running.svg" alt="">
    </div>

    <div class="badge">
      <img src="./images/sports-icons/rugby-ball.svg" alt="">
    </div>

    <div class="badge">
      <img src="./images/sports-icons/steering-wheel.svg" alt="">
    </div>

    <div class="badge">
      <img src="./images/sports-icons/swimming-pool.svg" alt="">
    </div>

    <div class="badge">
      <img src="./images/sports-icons/weights.svg" alt="">
    </div>


  </div>

  <small>See more</small>

</section>

<section id="section-article">
  <h2>Rolland Garos the most amazing place for tennis</h2>

  <div class="article-subheader">
    <hr>
    <p>Incidiostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo codcs. incidiostrud exercitation ullamco
      nisi ut aliquip ex ea commodo codcs. strud exercitation ullamco laboris nisi ut aliquip ex ea commodo codcs.</p>

  </div>


  <a class="btn-main" href="#0">Read The Article</a>


</section>

<section id="reinsurance">

  <div>
    <img src="./images/home/reinsurance/shield.svg" alt="">
    <p>Data</p>
  </div>
  <div>
    <img src="./images/home/reinsurance/hands.svg" alt="">
    <p>Trust</p>
  </div>
  <div>
    <img src="./images/home/reinsurance/success.svg" alt="">
    <p>Blah</p>
  </div>

</section>