<section>
  {{!-- <img src="" alt=""> --}}
</section>
<section>

  <h2>Next sessions:</h2>
  <p>See your next sessions here</p>

  <div id="sessions">
    <div class="card-session">
      <div class="session-content-left">
        <h3>Roland Garos</h3>
        <p>Tennis with @AlexJoly</p>
        <img src="./images/user-icon/alex.png" alt="" />
      </div>
      <div class="session-content-right">
        <h4>Tues. 12</h4>
        <p><b>January</b></p>
        <p>4pm - 6pm</p>
      </div>
    </div>

    <div class="card-session">
      <div class="session-content-left">
        <h3>Roland Garos</h3>
        <p>Tennis with @AlexJoly</p>
        <img src="./images/user-icon/alex.png" alt="" />
        <img src="./images/user-icon/alex.png" alt="" />

      </div>
      <v class="session-content-right">
        <h4>Tues. 12</h4>
        <p><b>January</b></p>
        <p>4pm - 6pm</p>
    </div>

    <p>see more</p>
  </div>
</section>

<section id="section-player">
  <h2>Find a player</h2>
  <p>Lorem ipsum solore sit amet</p>
</section>

<section id="section-sport">
  <h2>Find a player</h2>
  <p>Lorem ipsum solore sit amet</p>
</section>