<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  {{!-- <header>
    <nav>
      <ul>
        {{#if currentUser}}
        <li>
          <a href="/gym-list">Browse Gyms</a>
        </li>
        <li>
          <a href="/pool-list">Browse Swimming Pools</a>
        </li>
        <li>
          <a href="/park-list">Browse Skateparks</a>
        </li>
        <li>
          <a href="/logout">Log Out</a>
        </li>
        {{else}}
        <li>
          <a href="/login">Log In</a>
        </li>
        <li>
          <a href="/signup">Sign Up</a>
        </li>
        {{/if}}
      </ul>
    </nav>
  </header> --}}



  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>


      <ul id="menu">
        <li>
          <a href="/">Home</a>
        </li>
        {{#if currentUser}}
        <li>
          <a href="/gym-list">Browse Gyms</a>
        </li>
        <li>
          <a href="/pool-list">Browse Swimming Pools</a>
        </li>
        <li>
          <a href="/park-list">Browse Skateparks</a>
        </li>
        <li>
          <a href="/logout">Log Out</a>
        </li>
        {{else}}
        <li>
          <a href="/login">Log In</a>
        </li>
        <li>
          <a href="/signup">Sign Up</a>
        </li>
        {{/if}}

      </ul>
    </div>
  </nav>

  {{{body}}}



  <footer>
    <p>Made with 🏀 by Alex Joly and Jules Badin.</p>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>