<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" media="screen and (min-width: 992px)" href="stylesheets/style-desktop.css" />
</head>

<body>

  <header>
    <nav role="navigation">
      <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>


        <ul id="menu">
          <li>
            <a href="/">Home</a>
          </li>
          {{#if currentUser}}
          <li>
            <a href="/gym-list">Gyms</a>
          </li>
          <li>
            <a href="/pool-list">Swimming Pools</a>
          </li>
          <li>
            <a href="/park-list">Skateparks</a>
          </li>
          <li>
            <a href="/my-rdv">My Sessions</a>
          </li>
          <li>
            <a href="/logout">Log Out</a>
          </li>


          {{else}}
          <li>
            <a href="/login">Log In</a>
          </li>
          <li>
            <a href="/signup">Sign Up</a>
          </li>
          {{/if}}

        </ul>
      </div>
    </nav>
  </header>

  {{{body}}}



  <footer>

    <img src="./images/logos/logo-main-blanc.png" alt="">

    <p>Made with 🏀 by Alex Joly and Jules Badin.</p>




  </footer>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCID8KAZM7F9ZRt7ICKf8tCFog8gJss6PE&callback=initMap"
    type="text/javascript"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>