<section>

  <div>
    <h2>Consult the map</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum sapiente error odio?</p>
    <a class="btn-map" href="/">Back to Home</a>
  </div>

  <div>
    <div id="map"></div>
  </div>


</section>

<script src="/javascripts/googlemap.js"></script>