<section>

  <div>
    <h2>Consult the map</h2>
    <p>Places in Paris where you can play Badminton</p>
    <a class="btn-map" href="/">Back to Home</a>
  </div>

  <div>
    <div id="map"></div>
  </div>


</section>

<script src="/javascripts/googlemap.js"></script>