<section class="heading-list gym-bg">
  <img class="logo-main" src="./images/logos/logo-main-blanc.svg" alt="">

  <h2>All buddies</h2>
  {{!-- <a class="go-back" href="/"> -- Homepage</a> --}}
</section>

<section style="margin-top:-100px;" id="section-player">

  <div>

    {{> buddie_card}}

  </div>

</section>