.card-session {
  width: 30%;
  margin: 10px;
}

.cards-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.card-player {
  width: 40%;
}

.desktop-list {
  margin-left: 7%;
}

section {
  position: relative;
}

small {
  display: none
}