/* UNIVERSAL CARDS SETTINGS */

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1em;
}

.month {
  color: darkgrey;
  line-height: 1em;
}

/* CARDS HOME SESSIONS */

.card-session {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  background-color: tomato;
  border-radius: 15px;
  width: 100%;
  line-height: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.session-content-right {
  padding-left: 10px;
  border-left: 1px solid silver;
  width: 100px;
  font-size: 1.2em;
}

.session-content-right .hour {
  font-size: 1.2em;
}

.session-content-right p {
  font-size: 0.8em
}


.session-content-left {
  padding-right: 20px;
  padding-left: 10px;

}

.session-content-left p {
  font-size: 0.8em
}


.session-content-left img {
  width: 40px;
  padding-bottom: 5px;
}

/* CARDS HOME PLAYER */

.card-player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fefefe;
  border-radius: 15px;
  width: 80%;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-top: 10px;
  color: black;
  position: relative;
}

.card-player img {
  position: absolute;
  left: -50px;
  width: 80px;
}

.player-content-left {
  max-width: 40%;
  padding-left: 30px;
}

.player-content-left p {
  line-height: 1.2em;
  font-size: 0.8em;
}

/* BADGES HOME SPORTS */

.badges-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.badge {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 80px;
  margin: 10px;
  border-radius: 15px;
}