<h1>Welcome</h1>

<h2>Please Select a Sport</h2>

<form autocomplete="off" action="/process-sports-signup" method="POST">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="mySport" placeholder="Type a Sport">
  </div>
  <button>Validate</button>
</form>

<script src="/javascripts/signup-sports.js"></script>