<section class="sec-form">
  <div class="form-header">
    <h2>Welcome</h2>

  </div>

  <h3>Please Select a Sport</h3>

  <form autocomplete="off" action="/process-sports-signup" method="POST">
    <div class="autocomplete" style="width:300px;">
      <input id="myInput" type="text" name="mySport" placeholder="Type a Sport">
    </div>
    <button>Validate</button>
  </form>
</section>

<script src="/javascripts/signup-sports.js"></script>