<section class="heading-list rdv-bg">
  <img class="logo-main" src="./images/logos/logo-main-blanc.png" alt="">

  <h2>Your RDV</h2>
  {{!-- <a class="go-back" href="/"> -- Homepage</a> --}}
</section>

<section>
  <div class="cards-container desktop-list">

    {{> rdv_card}}

  </div>
</section>